/** @format */

body {
  margin: 0;
  padding: 0;
}

/* body::after {
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1; 
  content:url(./assets/background/dark_default.jpeg) url(./assets/background/light_default.jpeg);  
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiButton-contained {
  background: none rgba(0, 0, 0, 0.15) !important;
}

#root {
  padding-top: 120px;
}

.css-a4d0r7-MuiTypography-root {
  font-family: "Nunito", sans-serif !important;
}
