/** @format */

body {
  margin: 0;
  padding: 0;
}

body::after {
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1; 
  content:url(./assets/background/dark_default.jpeg) url(./assets/background/light_default.jpeg);  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiButton-contained {
  background: none rgba(0, 0, 0, 0.15) !important;
}

#root {
  padding-top: 120px;
}

.react-calendar-heatmap-month-label {
  fill: white !important;
}

.react-calendar-heatmap-weekday-label {
  fill: white !important;
}

.react-calendar-heatmap-weekday-labels {
  transform: translate(2px, 14px);
}

.react-calendar-heatmap-month-labels {
  transform: translate(30px, -2px);
}

.react-calendar-heatmap .color-scale-0 {
  fill: #fff;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #1e6823;
}
