/** @format */

.header {
  font-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.container {
  margin: 50px auto;
  border-radius: 6px;
  padding: 10px;
}
