/** @format */

.header {
  font-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form {
  margin: 40px 70px;
  padding: 30px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  display: block;
}

.submit_button {
  margin-top: 25px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
  background-color: #fff;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.input {
  margin: 12px 0 24px;
  border-radius: 4px;
  background-color: #f4f7f5;
  font-size: 16px;
  padding: 12px 16px;
  box-shadow: none;
  border: none;
  color: rgb(85, 85, 85);
  width: 100%;
  box-sizing: border-box;
}

::placeholder {
  color: rgb(196, 196, 196);
}

.label {
  font-weight: bold;
  font-size: 18px;
}

textarea:focus,
input:focus {
  outline: none;
}

.forgot_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.forgot_button {
  color: white;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  font-size: 14px;
  background-image: none;
}

.signup_wrapper {
  margin-top: 24px;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signup_text {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 8px;
}

.signup_button {
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-color: initial;
  text-decoration: underline;
}
