/** @format */

.task {
  width: 100%;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 13px;
  text-align: left;
  font-size: 16px;
  box-sizing: border-box;
  transition: unset;
  box-shadow: none;
  transform: translateY(2px);
  border-left: 6px solid transparent;
}

.task:hover {
  border-left: 6px solid rgba(34, 34, 34, 0.2);
}

.task_current {
  border-left: 6px solid rgb(34, 34, 34) !important;
}

.task_left {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  padding: 18px 0px 18px 14px;
  overflow-wrap: break-word;
  width: 75%;
}

.task_left_done_button {
  margin-right: 10px !important;
  border-radius: 50% !important;
  min-width: 0 !important;
  padding: 0;
  min-width: 0;
  width: 35px;
  height: 35px;
  z-index: 1000;
}

.task_left_done_icon {
  width: 30px;
  height: 30px;
  color: rgb(223, 223, 223);
}

.task_right_pomo_cur {
  display: inline-block;
  color: rgb(187, 187, 187);
  font-weight: bold;
  margin-right: 18px;
  width: 40px;
  font-size: 18px;
  text-align: right;
}

.task_right_pomo_est {
  font-size: 14px;
  margin-left: 2px;
}

.task_right_more_button {
  margin: 0 !important;
  padding: 6px !important;
  margin-right: 14px !important;
  text-align: center;
  min-width: 0 !important;
  color: rgb(187, 187, 187) !important;
  border: 1px solid #eee !important;
}

.task_title {
  color: rgb(85, 85, 85);
  font-weight: bold;
  width: 85%;
  font-size: 18px;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  line-height: 1.5em;
}
