/** @format */

.wrapper {
  background-color: white;
  border-radius: 8px;
  text-align: left;
  margin-top: 12px;
  box-shadow: rgb(0 0 0 / 15%) 0px 10px 20px, rgb(0 0 0 / 10%) 0px 3px 6px;
  animation: 0.1s ease-in-out 0s 1 normal none running expand;
}

.detail {
  padding: 10px 20px 0px;
}

.detail_section {
  position: relative;
  padding: 8px 0px 18px;
}

.detail_section_block {
  padding: 8px 0px;
}

.block_flex {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.width_100 {
  width: 100%;
}

.margin_bottom_8 {
  margin-bottom: 8px;
}

.block_flex_input {
  border-radius: 4px;
  font-size: 22px;
  padding: 10px 0px;
  box-shadow: none;
  border: none;
  color: rgb(85, 85, 85);
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}

.block_flex_input:focus,
.est_pomo_input:focus {
  outline: none;
}

.est_pomo {
  color: rgb(85, 85, 85) !important;
  font-weight: bold;
}

.est_pomo_input {
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  font-size: 16px;
  padding: 10px;
  box-shadow: none;
  border: none;
  color: rgb(85, 85, 85);
  width: 75px;
  box-sizing: border-box;
  margin-right: 10px;
  font-weight: bold;
}

.est_pomo_input::placeholder {
  opacity: 0.5;
}

.est_pomo_button {
  text-align: center;
  border-radius: 4px !important;
  cursor: pointer !important;
  opacity: 0.9;
  padding: 8px 12px !important;
  min-width: 0 !important;
  background-color: white !important;
  color: rgb(85, 85, 85) !important;
  border: 1px solid rgb(223, 223, 223) !important;
  margin: 0px 5px !important;
}

.add_note_button {
  align-items: center !important;
  justify-content: center !important;
  text-align: center;
  border-radius: 4px !important;
  cursor: pointer !important;
  opacity: 0.9;
  font-size: 14px !important;
  background: none;
  border: none !important;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.4) !important;
  font-weight: bold !important;
  letter-spacing: 0.02em !important;
  display: inline-block;
  text-transform: capitalize !important;
}

.action {
  padding: 14px 20px;
  text-align: right;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgb(239, 239, 239);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize !important;
}

.action_delete_cancel {
  align-items: center !important;
  justify-content: center !important;
  text-align: center;
  border-radius: 4px !important;
  cursor: pointer !important;
  opacity: 0.9;
  font-size: 14px !important;
  padding: 8px 12px !important;
  min-width: 70px !important;
  display: inline-block !important;
  margin-right: 14px !important;
  background: none;
  border: none !important;
  color: rgb(136, 136, 136) !important;
  font-weight: bold !important;
  box-shadow: none;
  text-transform: capitalize !important;
}

.action_save {
  align-items: center !important;
  justify-content: center !important;
  text-align: center;
  border-radius: 4px !important;
  cursor: pointer !important;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px !important;
  color: white !important;
  opacity: 0.9;
  font-size: 14px !important;
  padding: 8px 12px !important;
  min-width: 70px !important;
  background-color: rgb(34, 34, 34) !important;
  border: none !important;
  display: inline-block;
  text-transform: capitalize !important;
}

.action_save_disabled {
  align-items: center !important;
  justify-content: center !important;
  text-align: center;
  border-radius: 4px !important;
  cursor: pointer !important;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px !important;
  color: white !important;
  opacity: 0.9;
  font-size: 14px !important;
  padding: 8px 12px !important;
  min-width: 70px !important;
  background-color: rgba(34, 34, 34, 0.5) !important;
  border: none !important;
  display: inline-block;
  text-transform: capitalize !important;
}

.action_save:hover {
  background-color: rgb(34, 34, 34) !important;
}

.note {
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  border: none;
  padding: 10px 14px;
  color: rgb(85, 85, 85);
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 1.4em;
  margin: 8px 0px;
}

.note:fovus {
  outline: none;
}
