/** @format */

.darkModeButton {
  border: none;
  background: none;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.DarkModeToggle__MoonOrSun {
  position: relative;
  overflow-x: visible;
  overflow-y: visible;
}
