/** @format */
body {
  height: 100%;
  /* color: white; */
  color: rgb(189, 147, 249);
  padding-bottom: 12px;
  box-sizing: border-box;
  margin: 0;
}

.bg {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-image: url("./assets/background/dark_default.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
