/** @format */

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiButton-contained {
  background: none rgba(0, 0, 0, 0.15) !important;
}
